<% var jData01 %><!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<title><%= jData01.name %> | TestSite</title>
<meta format-detection="telephone=no">
<meta name="description" content="<%= jData01.description %>">
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">
<link rel="stylesheet" href="/common/css/base.css">
</head>
<body>
<div id="container">
<div class="wrapper">

    <header class="header">ヘッダー</header>

    <!-- contents -->
    <div class="contents">
        <h1 class="ttl-name"><%= jData01.name %></h1>
        <p class="id"><%= jData01.id %></p>
        <p class="description"><%= jData01.description %></p>
    </div>
    <!-- End contents -->

    <footer class="footer">フッター</footer>

<!-- /wrapper --></div>
<!-- container --></div>
</body>
</html>